<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get CRUD</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="table-users-container">
        <table>
            <div class="title">List User</div>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i< data.length; i++) {%>
                    <tr>
                        <td>
                            <%= data[i].id %>
                        </td>
                        <td>
                            <%= data[i].email %>
                        </td>
                        <td>
                            <%= data[i].firstName %>
                        </td>
                        <td>
                            <%= data[i].lastName %>
                        </td>
                        <td>
                            <%= data[i].address %>
                        </td>
                        <td>
                            <%= data[i].phoneNumber %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>